<div class="row">

<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>

<div class="col-sm-6 col-md-3">
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>
</div>

</div>

