<h1 style="font-weight: bold">Places</h1>

<div class="container mt-4"></div>

<div class="row">
<div class="col-sm-6 col-md-3">
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>
</div>

<div class="container mt-4"></div>

<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>

</div>

