<h1 style="font-weight: bold">Places</h1>

<div class="container mt-4">

<div class="row">
<div class="col-sm-6 col-md-3">
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>" class="fs-5 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= place["name"] %></a></li>
    <% end %>
  </ul>
</div>


<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>

</div>
</div>
